@import 'base/variables';
@import 'base/settings';
@import 'base/mixins';
@import 'base/reset';

body {
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none !important;
  }
}

.b-slider {
  padding-top: 150px;
  .b-slider__wrapper {
    width: 450px;
    height: 200px;
    margin: 0 auto;
    overflow: hidden;
    border: $slide_border;
    position: relative;
    .b-slider-list{
      width: 1000%;
      height: 200px;
      background: $slide_bg;
      @include transition($sec_default);
      &:hover {
        background: #000;
      }
      .b-slider-list__items{
        float: left;
        width: 450px;
        height: 200px;
        display: block;
        background: $slides_bg;
      }
    }
    .b-arrow{
      .b-arrow__left{
        position: absolute;
        top: 50%;
        left: 15px;
        @include translY(-10px);
      }
      .b-arrow__right{
        position: absolute;
        top: 50%;
        right: 15px;
        @include translY(-10px);
      }
    }
  }
}
